# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

Carthage
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Config/KWAllTestsSuite.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Config/KWSuiteConfigurationBase.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Config/KWSuiteConfigurationBase.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWAny.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWAny.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWBackgroundTask.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWBackgroundTask.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWBlock.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWBlock.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWCallSite.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWCallSite.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWCaptureSpy.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWCaptureSpy.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWCountType.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWDeviceInfo.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWDeviceInfo.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWExample.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWExample.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWExampleDelegate.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWExampleNodeVisitor.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWExampleSuite.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWExampleSuite.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWExampleSuiteBuilder.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWExampleSuiteBuilder.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWExpectationType.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWFailure.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWFailure.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWFormatter.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWFormatter.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWFutureObject.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWFutureObject.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWInvocationCapturer.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWInvocationCapturer.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWLet.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMatcherFactory.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMatcherFactory.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMatchers.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMatchers.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMatching.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMessagePattern.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMessagePattern.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMessageSpying.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMessageTracker.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWMessageTracker.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWNull.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWNull.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWObjCUtilities.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWObjCUtilities.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWProbe.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWProbePoller.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWProbePoller.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWReporting.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWSpec.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWSpec.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWStringUtilities.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWStringUtilities.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWSymbolicator.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWSymbolicator.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWValue.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWValue.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWWorkarounds.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KWWorkarounds.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/Kiwi.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KiwiBlockMacros.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KiwiConfiguration.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/KiwiMacros.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSInvocation+KiwiAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSInvocation+KiwiAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSInvocation+OCMAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSInvocation+OCMAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSMethodSignature+KiwiAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSMethodSignature+KiwiAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSNumber+KiwiAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSNumber+KiwiAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSObject+KiwiSpyAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSObject+KiwiSpyAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSObject+KiwiVerifierAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSObject+KiwiVerifierAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSProxy+KiwiVerifierAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSProxy+KiwiVerifierAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSValue+KiwiAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Core/NSValue+KiwiAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeBetweenMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeBetweenMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeEmptyMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeEmptyMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeIdenticalToMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeIdenticalToMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeKindOfClassMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeKindOfClassMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeMemberOfClassMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeMemberOfClassMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeSubclassOfClassMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeSubclassOfClassMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeTrueMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeTrueMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeWithinMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeWithinMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeZeroMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBeZeroMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBlockRaiseMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWBlockRaiseMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWChangeMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWChangeMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWConformToProtocolMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWConformToProtocolMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWContainMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWContainMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWContainStringMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWContainStringMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWEqualMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWEqualMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWGenericMatchEvaluator.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWGenericMatchEvaluator.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWGenericMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWGenericMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWGenericMatchingAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWGenericMatchingAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWHaveMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWHaveMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWHaveValueMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWHaveValueMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWInequalityMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWInequalityMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWNilMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWNilMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWNotificationMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWNotificationMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWReceiveMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWReceiveMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWRegularExpressionPatternMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWRegularExpressionPatternMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWRespondToSelectorMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWRespondToSelectorMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWStringContainsMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWStringContainsMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWStringPrefixMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWStringPrefixMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWUserDefinedMatcher.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Matchers/KWUserDefinedMatcher.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Mocking/KWMock.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Mocking/KWMock.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Mocking/NSObject+KiwiMockAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Mocking/NSObject+KiwiMockAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWAfterAllNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWAfterAllNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWAfterEachNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWAfterEachNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWBeforeAllNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWBeforeAllNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWBeforeEachNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWBeforeEachNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWBlockNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWBlockNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWContextNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWContextNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWExampleNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWItNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWItNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWLetNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWLetNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWPendingNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWPendingNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWRegisterMatchersNode.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Nodes/KWRegisterMatchersNode.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Shared Examples/KWSharedExample.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Shared Examples/KWSharedExample.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Shared Examples/KWSharedExampleRegistry.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Shared Examples/KWSharedExampleRegistry.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Stubbing/KWIntercept.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Stubbing/KWIntercept.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Stubbing/KWStub.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Stubbing/KWStub.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Stubbing/NSObject+KiwiStubAdditions.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Stubbing/NSObject+KiwiStubAdditions.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Verifiers/KWAsyncVerifier.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Verifiers/KWAsyncVerifier.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Verifiers/KWExistVerifier.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Verifiers/KWExistVerifier.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Verifiers/KWMatchVerifier.h
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Verifiers/KWMatchVerifier.m
JKDataHelper_OC/Example/Pods/Kiwi/Classes/Verifiers/KWVerifying.h
JKDataHelper_OC/Example/Pods/Kiwi/License.txt
JKDataHelper_OC/Example/Pods/Kiwi/README.md
JKDataHelper_OC/Example/Pods/Target Support Files/JKDataHelper/JKDataHelper.debug.xcconfig
JKDataHelper_OC/Example/Pods/Target Support Files/JKDataHelper/JKDataHelper.release.xcconfig
JKDataHelper_OC/Example/Pods/Target Support Files/Kiwi/Kiwi-Info.plist
JKDataHelper_OC/Example/Pods/Target Support Files/Kiwi/Kiwi-dummy.m
JKDataHelper_OC/Example/Pods/Target Support Files/Kiwi/Kiwi-prefix.pch
JKDataHelper_OC/Example/Pods/Target Support Files/Kiwi/Kiwi-umbrella.h
JKDataHelper_OC/Example/Pods/Target Support Files/Kiwi/Kiwi.debug.xcconfig
JKDataHelper_OC/Example/Pods/Target Support Files/Kiwi/Kiwi.modulemap
JKDataHelper_OC/Example/Pods/Target Support Files/Kiwi/Kiwi.release.xcconfig
JKDataHelper_Swift/Example/Pods/Nimble/Sources/Nimble/Matchers/BeginWithPrefix.swift
JKDataHelper_Swift/Example/Pods/Nimble/Sources/Nimble/Utils/DispatchTimeInterval.swift
JKDataHelper_Swift/Example/Pods/Quick/Sources/QuickObjCRuntime/include/QuickObjCRuntime.h